<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="asserts/css/bootstrap.min.css" rel="stylesheet">-->
<title>无标题文档</title>
    <!--<style>height:100%</style>-->
</head>

<body>
    <form id="loginform" class="form" th:action="@{/loginPost}"
        method="post"  style="text-align: center"><br>
    用户名：<input type="text" name="username" id="username" value="" /> 密码：
        <input type="password" name="pwd" id="pwd" value="" />
        <button type="submit" name="" id="btn" value="登录" >登录</button>
        <button type="reset" id="clear">清除数据</button>
    </form>
</body>
</html>
